/*----------------------------------------------------------------------
 *
 * defaults
 *
 *--------------------------------------------------------------------*/

h1 {
    font-size:                                          400%;
    color:                                              #DDDDDD;
}

h2 {
    font-size:                                          250%;
    color:                                              #DDDDDD;
}

/*----------------------------------------------------------------------
 *
 * template
 *
 *--------------------------------------------------------------------*/

#center {
    position:                                           relative;
    margin:                                             0 auto;
    width:                                              90%;
    height:                                             100%;
}

    #doc {
        position:                                       relative;
        height:                                         100%;
        width:                                          100%;
    }

        #header {
            height:                                     10%;
            min-height:                                 50px;
        }

        #game {
            position:                                   relative;
            padding:                                    5% 0 0 0;
            height:                                     75%;
            overflow:                                   hidden;
        }

            #playground {
                position:                               relative;
                float:                                  left;
                width:                                  80%;
                height:                                 100%;
            }

            #controlls {
                position:                               relative;
                float:                                  left;
                width:                                  20%;
                height:                                 100%;
                background-color:                       #444444;
            }

        #footer {
            position:                                   relative;
            height:                                     5%;
            min-height:                                 20px;
        }
