#main {
    width: 100%;
    height: 100%;
}
#sidebar {
    float: right;
    width: 350px;
    height: 100%;
    background-color: #444444;
    overflow: auto;
}
#mode-selector {
    margin: 20px 0px;
    text-align: center;
}
#controls table {
    width: 100%;
}
#controls table th {
    display: block;
    width: 50px;
    text-align: left;
}
#copyright {
    margin: 10px;
    text-align: center;
    color: #AAAAAA;
    line-height: 130%;
}
#viewport {
    margin-right: 350px;
    height: 100%;
    overflow: auto;
}