/*----------------------------------------------------------------------
 *
 * nonogram
 *
 *--------------------------------------------------------------------*/

.board {
    border-collapse: collapse;
}
.board .cell {
    border: 2px solid gray;
    width: 20px;
    height: 20px;
}
.board .cell.cell-status-0 { /* invalid */
    background-color: red;
}
.board .cell.cell-status-1 { /* active */
    background-color: black;
}
.board .cell.cell-status-2 { /* inactive */
    background-color: white;
}

.board .label-container.horizontal {
    padding: 10px 0px;
}
.board .label-container.vertical {
    padding: 0px 10px;
}
.board .label-container .label {
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: gray;
}
.board .label-container.horizontal .label {
    float: left;
    margin: 0px 1px;
}
.board .label-container.vertical .label {
    float: right;
    margin: 1px 0px;
}
