/*----------------------------------------------------------------------
 *
 * nonogram
 *
 *--------------------------------------------------------------------*/

.board {
    border-collapse: collapse;
}
.board .cell {
    border: 2px solid gray;
    width: 20px;
    height: 20px;
}
.board .cell.cell-status-1 { /* active */
    background-color: black;
}
.board .cell.cell-status-2 { /* inactive */
    background-color: white;
}